<div class="container">
  <div class="header">
      <img src="https://media.istockphoto.com/id/1370189361/vi/vec-to/tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-n%E1%BB%95-ph%E1%BA%A5n-kh%C3%ADch-n%E1%BB%95-lightning-bolt-n%E1%BB%81n-y%C3%AAu-n%C6%B0%E1%BB%9Bc.jpg?s=612x612&w=is&k=20&c=GgEH2dKoseevY-IORYqNeMXDGMDcAydiDuszTmS2tlE=" alt="">
      <div class="header-info">
        <span class="localtion">
          Ha noi
        </span>
        <span class="temperature">
          {{ 14.40 | customNumber }}
        </span>
      </div>
  </div>
  <div class="footer">

  </div>
</div>
<router-outlet></router-outlet>
